version: '3.9-imka/v1'

services:
  nginx:
    image: nginx
    configs:
      - source: www
        target: /var/lib/www
        type: imka
      - source: conf.j2
        target: /etc/nginx/conf
        type: imka
        template:
          enabled: true
    environment:
      akey: "{{object.akey}}"
      key: "{{my_custom_value}}"
      deployment: "{{deployment_fullname}}"
      dev: "{{dev}}"